@use "sass:map"

$pop2: cubic-bezier(0.76,0.07,0.6,1.47)

$baseTranslate: ('X': 0, 'Y': 3px)
@function getTranslate($x:0,$y:0) 
  $newX: $x + map.get($baseTranslate,'X')
  $newY: $y + map.get($baseTranslate,'Y')
  @return translate($newX,$newY)


.pop-up
  position: fixed
  display: inline-block
  z-index: 50
  animation: growIn 250ms $pop2, fadeIn 500ms ease-in
  margin: 0
  max-width: calc(100vw - 2rem)
  transform: getTranslate()
  .ui.card
    margin: 0
 
.center
  .pop-up
    transform: getTranslate($x:-50%)  
    animation: growInCentered 250ms $pop2, fadeIn 500ms ease-in
.right
  .pop-up
    transform: getTranslate($x: -100%)

.top-guard
  top: 1rem !important
  bottom: unset !important
.bottom-guard
  top: unset !important
  bottom: 1rem !important
.left-guard
  left: 1rem !important
  transform: getTranslate() !important
.right-guard
  right: 1rem !important
  left: unset !important
  transform: getTranslate() !important

@media only screen and (max-width: 400px)
  .center
    .pop-up:not(.left-guard, .right-guard)
      transform: getTranslate($x:-50%) !important
  .pop-up
    max-width: calc(100vw - 2rem) !important
    transform: getTranslate() !important
    .ui.table
      .sizer
        width: min-content !important
        margin: auto
        padding: 6px 2px !important

@media only screen and (max-width: 320px)
  .pop-up
    max-width: calc(100vw - 6px) !important
    .ui.table
      .sizer
        width: unset !important
  .left-guard
    left: 3px !important
    transform: getTranslate() !important
  .right-guard
    right: 3px !important
    left: unset !important
    transform: getTranslate() !important



@keyframe growIn
  from
    transform: scale(0)
  to
    transform: scale(1)
@keyframe growInCentered
  from
    transform: scale(0), getTranslate($x:-50%)
  to
    transform: scale(1), getTranslate($x:-50%)
@keyframes fadeIn
  from
    opacity: 0    
  to
    opacity: 1
